/** COLORS **/ 
$text-blue: #6FBEF3; 
$text-gray: #666666;
$text-white: #FFFFFF;
$dark-blue: #34495e;
$orange: #E8930C;

/** FONTS */
//$font-family: 'Roboto', sans-serif;
$font-family: 'Oswald', sans-serif;

//@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,300);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/** APP SPECIFIC CSS */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
    font-family: $font-family;
    margin: 0;
    padding: 0; 

}

a { 
    font-family: $font-family;
    font-weight: 300;
    text-decoration: none;

    &.gray { 
        color: $text-gray;
        font-weight: 400;
        padding-bottom: 20px;

        &:hover { 
            border-bottom: 2px solid #666;
        }
    }
}

p { 
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8em;
    max-width: 640px;

    strong { 
        font-weight: 400;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: $dark-blue;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    //color: #333;
    padding: 1em;
    //border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.pure-g {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    display: none;

    &.pure-menu-open {
        background: transparent;
    }

    .pure-menu-heading {
        background-image: url('../img/common/logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 54px;
        width: 54px;

        span { 
            display: none;
        }
    }

    a {
        color: $text-blue;
    }

    .pure-menu-selected a {
        color: $text-white;

    }

    li a:hover, li a:focus {
        background: transparent;
        color: white;
    }

}

.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

/*
 * -- SPLASH STYLES --
 * This is the top section that appears on the page.
 */

.splash-container {
    background-image: url('../img/photos/splash-background.jpg');
    background-position: center; 
    background-attachment: scroll;
    background-size: cover;
    color: $text-white;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: -2;
}

.splash {
    /* absolute center .splash within .splash-container */
    color: $text-white;
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    color: $text-white;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    background: white;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.4);
    min-height: 12%;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;


}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
    font-size: 2.0em;
    font-weight: 400;
    margin: 0;
}

/* We want to give the content area some padding */
.content {
    padding: 4em 0em;

    &.orange { 
        background: $orange;
        color: #FFFFFF;

        .content-head { 
            color: #FFFFFF;
        }

        h4 { 
            color: #000000;
        }

        .circle { 
            border: 10px solid #FFFFFF;
        }
    }
}


/* This is the class used for the dark-background areas. */
.liberty {
    background-color: $dark-blue;
    color: #FFFFFF;
    padding: 2em 1em;

    h2 {    
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: normal
    }
}

.proposal {
    background-color: $dark-blue;
    color: #FFFFFF;
    padding: 2em 1em;

    h2 {    
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: normal
    }
}

.wedding {
    background-color: $dark-blue;
    color: #FFFFFF;
    padding: 2em 1em;

    h2 {    
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: normal
    }
}

/* This is the class used for the footer */
.footer {
    background: #111;
    color: #eee;
    font-family: $font-family;
    font-weight: 300;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 4em 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: auto;
        height: auto;
        position: absolute; 
        right: 40px;
        text-align: right;
        top: 20px;
    }

    .splash-head {
        font-size: 90px;
        line-height: 1.0em;
        margin-left: 20px;
        text-align: right;
        text-transform: uppercase;
    }

    .splash-subhead { 
        text-align: right;
    }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        padding: 2em;
    }

    .liberty { 
        background-image: url('../img/photos/liberty-background.jpg');
        padding: 6em 2em;
    }

    .proposal {
        background-image: url('../img/photos/proposal-background.jpg');
        padding: 6em 2em;
    }

    .wedding {
        background-image: url('../img/photos/wedding-background.jpg');
        padding: 6em 2em;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 90px;
    }

    .splash-subhead { 
        text-align: right;
    }

    .content { 
        padding: 8em 0;
    }
}
